* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}
.edituser {
  margin-bottom: 50px;
}
.edit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}
.editcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 35%;
  background-color: #ffffff;
  padding: 40px 20px;
  border-radius: 20px;
  &__name {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 25px;
    span {
      font-size: 20px;
      font-weight: 500;
    }
    &__input {
      border: none;
      border-radius: 10px;
      background-color: #f5f5f5;
      padding: 10px 12px;
      font-size: 20px;
    }
  }
  button {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 1200px) {
  .post {
    width: 50%;
  }
}
@media only screen and (max-width: 1024px) {
  .post {
    width: 60%;
  }
}
@media only screen and (max-width: 480px) {
  .post {
    width: 80%;
  }
}
